<div id="reinvention-road" data-view="<%=model.get("id")%>">

  <div class="road-loading">
    <p>Loading road...</p>
  </div>

  <video class="full-bleed" id="<%=model.get("video")%>" role="primary" loop="true">
    <source src="/app/video/<%=model.get("video")%>.webm"></source>
    <source src="/app/video/<%=model.get("video")%>.ogv"></source>
    <source src="/app/video/<%=model.get("video")%>.mp4"></source>
  </video>
  <audio id="<%=model.get("audio")%>" autoplay loop src="/app/audio/<%=model.get("audio")%>.mp3"></audio>
</div>
