<div id="reinvention-road" data-view="<%=model.get("id")%>">

  <div class="road-loading">
  	<canvas id="road-loading-pie" width="107" height="107"></canvas>
    <p>Loading road...</p>
  </div>

  <div class="next-stop">
  </div>

  <video class="full-bleed" id="<%=model.get("video")%>" role="primary" loop="true" preload="auto">
    <source type="video/mp4" src="http://reinventionmedia.s3.amazonaws.com/<%=model.get("video")%>.mp4"></source>
    <source type="video/webm" src="http://reinventionmedia.s3.amazonaws.com/<%=model.get("video")%>.webm"></source>
    <source type="video/ogv" src="http://reinventionmedia.s3.amazonaws.com/<%=model.get("video")%>.ogv"></source>
  </video>
  <audio id="<%=model.get("audio")%>" autoplay loop src="http://reinventionmedia.s3.amazonaws.com/<%=model.get("audio")%>.mp3"></audio>
</div>
