<div id="reinvention-intro">

  <div class="loader">
    <div class="pie"></div>
    <p>Reinvention Stories is an interactive film experience.  More description goes here. Let viewers know what they’re getting into. More things to say, blah blah, say them here.<br/> Yeehaw, etc.</p>
    <a href="#" class="fullscreen-link" data-command="fullscreen">View in fullscreen</a>
  </div>

  <video>
    <source src="/app/video/<%=model.get("video")%>.mp4"></source>
    <source src="/app/video/<%=model.get("video")%>.ogv"></source>
    <source src="/app/video/<%=model.get("video")%>.webm"></source>
  </video>

  <audio id="billboard-rumbleloop" loop="true">
    <source src="/app/audio/Intro-Billboard-RumbleLoop.mp3"></source>
    <source src="/app/audio/Intro-Billboard-RumbleLoop.ogg"></source>
    <source src="/app/audio/Intro-Billboard-RumbleLoop.aif"></source>
  </audio>
</div>
