<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:title" content="Reinvention Stories"/>
  <meta property="og:type" content="movie"/>
  <meta property="og:url" content="http://reinventionstories.org/"/>

  <meta property="og:image" content="http://reinventionstories.org/app/img/logo-reinvention.png"/>
  <meta property="og:site_name" content="Reinvention Stories"/>
  <meta property="og:description" content="Reinvention Stories is an interactive film experience about Dayton Ohio, birthplace of the airplane, cash register and pop top can." />


  <title>Reinvention</title>

  <!-- Application styles. -->
  <link rel="stylesheet" href="/app/css/index.css">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38779654-1']);
    _gaq.push(['_setDomainName', 'reinventionstories.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

<!-- disable console.log - uncomment for production -->
<!--
<script>
    window.console = {log: function() {}};
</script>
-->

</head>

<body>

  <div id="reinvention-menu">
      <span class="carat"></span>
      <div class="menu-content">
          <div class="menu-section">
              <a href="#" class="logo"><img src="/app/img/logo-reinvention.png"></a>
              <ul class="meta-menu">
                  <li><a href="http://blog.reinventionstories.org/about">About</a></li>
                  <li><a href="#get-involved">Get Involved</a></li>
                  <li><a href="#share">Share</a></li>
                  <li class="fullscreen" data-command="fullscreen"><a href="#">View Full Screen</a></li>
              </ul>
          </div>

          <div class="menu-section icons">
              <span class="section-title">Map</span>
              <a href="#map" class="image-link map">Map</a>
          </div>

          <div class="menu-section icons">
              <span class="section-title">Act One</span>

              <a class="image-link act1-story" href="#1/story/74868">Story</a>
              <a class="image-link road" href="#1/road/1">Road</a>
              <a class="image-link act1-reststop" href="#1/reststop/1">Reststop</a>

          </div>
          <div class="menu-section icons">
              <span class="section-title">Act Two</span>

              <a class="image-link act2-story" href="#2/story/79433">Story</a>
              <a class="image-link road" href="#2/road/2">Road</a>
              <a class="image-link act2-reststop" href="#2/reststop/2">Reststop</a>

          </div>

           <div class="menu-section icons">
              <span class="section-title">Act Three</span>

              <a class="image-link act3-story" href="#3/story/79434">Story</a>
              <a class="image-link road" href="#3/road/3">Road</a>
              <a class="image-link act3-reststop" href="#3/reststop/3">Reststop</a>

          </div>
      </div>
  </div>


  <!-- Main container. -->
  <div role="main" id="main"></div>



  <!-- Initial move to introduce modal dialogs -->
  <div class="modal-overlay displaynone">
    <div class="share-modal displaynone">
      <a class="close-modal">close</a>

      <div class="share-modal-content">

        <h1>Share Reinvention Stories</h1>

        <ul class="share-links">
          <li><a target="_blank" class="twitter" href="http://twitter.com/share?text=Check%20out%20Reinvention%20Stories&amp;url=http://reinventionstories.org/">Twitter</a></li>
          <li><a target="_blank" class="facebook" href="http://www.facebook.com/sharer.php?u=http://reinventionstories.org/">Facebook</a></li>
          <li><a target="_blank" class="email" href="mailto:?subject=Reinvention%20Stories&amp;body=http://reinventionstories.org/">Email</a></li>
        </ul>


      </div>

    </div>

    <div class="email-modal displaynone">
      <a class="close-modal">close</a>

      <div class="email-modal-content">

        <h1>
          Reinvention Stories
          <span class="subhead">Stories of Resilience in Dayton, Ohio</span>
          <span class="stamp"></span>
        </h1>

        <div class="content-left">
          <p>Reinvention Stories can be a way for people to communicate with each other about life and change in Dayton. Our question pages ask: What do we value here? Do we hold hope for the future? What needs to be done? Is there progress? What can I do? How can I make a difference on my block, my neighborhood, my City?</p>
          <p>Follow Reinvention Stories on Twitter to see what other Daytonians are thinking and saying. <a href="https://twitter.com/ReinventDayton" target="_blank">@ReinventDayton</a></p>
          <p>Get involved with our city! <a href="http://blog.reinventionstories.org/volunteer">Here are some cool organizations</a> that can use your time and talents.</p>
        </div>

        <div class="content-right">
          <div class="content-right-inner">
            <h3>Email Us</h3>
            <p><a class="email" href="mailto:reinventionstories@gmail.com">reinventionstories@gmail.com</a></p>
            <p>Share your e-mail with us or follow us on facebook.</p>
            <div class="fields">
              <input id="email-input" type="text" placeholder="Your E-mail">
              <button id="email-submit">Submit</button>
            </div>
            <div class="follow-links">
              <a href="http://www.facebook.com/ReInventionStories" target="_blank" class="follow-fb">Follow us!</a>
              <a href="http://twitter.com/WYSO" target="_blank" class="follow-twitter">Follow WYSO on Twitter!</a><br/>
              <a href="http://twitter.com/ReinventDayton" target="_blank" class="follow-twitter" style="clear: left;">Follow ReinventDayton on Twitter!</a>
            </div>
          </div>
          <div class="release-dates">
            <h2>Release Dates</h2>
            <ul>
              <li><strong>Act One</strong> February 26</li>
              <li><strong>Act Two</strong> March 19</li>
              <li><strong>Act Three</strong> April 9</li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>


  <!-- Application source. -->
  <script data-main="/app/config" src="/vendor/js/libs/require.js"></script>

  <!-- Production source. -->
 
  <!-- <script src="dist/release/require.js"></script> -->


</body>
</html>
