.contribute-view {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.contribute-view .arrow {
    background: url(/app/img/contribute-arrows.png);
    cursor: pointer;
    height: 43px;
    left: 43px;
    margin: -21px 0 0;
    position: absolute;
    top: 50%;
    width: 46px;
    z-index: 4;
}

.contribute-view .arrow.next {
    background-position: 0 -43px;
    left: auto;
    right: 43px;
}

.contribute-bg {
    max-width: none;
    opacity: 0.35;
    position: absolute;
    z-index: 1;
}

.contribute-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
    z-index: 2;
}

.contribute-nav li {
    border-right: 1px solid #e1e1e0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 700 14px brandon_grotesque, sans-serif;
    height: 15px;
    letter-spacing: 0.1em;
    line-height: 15px;
    padding: 0 11px 0 7px;
    text-transform: uppercase;
}

.contribute-nav li:last-child {
    border: none;
}

.contribute-nav li.active {
    color: #ed007b;
}

.contribute-section {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.contribute-section .content {
    bottom: 85px;
    left: 50%;
    margin-left: -337px;
    overflow: auto;
    position: absolute;
    text-align: center;
    top: 110px;
    width: 675px;
}

.contribute-section .line {
    display: block;
    margin-bottom: 26px;
}

.contribute-section label {
    color: #ed007c;
    display: inline-block;
    font: 700 30px brandon_grotesque, sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    vertical-align: middle;
}

.contribute-section label.beneath-standalone {
    display: block;
    font-size: 14px;
    margin: 0 auto;
    text-align: left;
    width: 410px;
}

.contribute-section label.block {
    display: block;
    text-align: left;
}

.contribute-section input[type="text"] {
    border-color: #fff;
    border-radius: 0;
    border-width: 0 0 2px 0;
    background: rgba(255,255,255,0.1);
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font: normal 30px adelle_basic, serif;
    height: 30px;
    margin-left: 30px;
    width: 400px;
}

.contribute-section input[type="text"].invalid {
    border-color: red;
}

.contribute-section textarea {
    border-radius: 0;
    border: none;
    background: rgba(255,255,255,0.1);
    color: #fff;
    font: normal 24px/36px adelle_basic, serif;
    width: 645px;
    padding: 15px 15px;
    position: absolute;
    left: 0;
    top: 43px;
    bottom: 0;
}

.contribute-section textarea.invalid {
    border: 1px solid red;
    width: 643px; /* make room for the border */
}

.contribute-section input.standalone {
    margin: 0 auto 3px;
}

.contribute-section p {
    color: #fff;
    font: normal 14px/20px adelle_basic, serif;
    margin: 0 auto 20px;
    width: 546px;
}

.contribute-section p strong{
    color: #ed007c;
    font-family: brandon_grotesque;
    font-weight: 700;
    text-transform: uppercase;
}

.contribute-section form {
    display: inline;
}

.contribute-section .add-photo {
    display: inline-block;
    width: 176px;
    height: 113px;
    border: 1px solid #fff;
    margin: 0 5px 15px;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    background: rgba(255,255,255,0.1) url(/app/img/add-circle.png) no-repeat 50% 50%;
}

.contribute-section .add-photo input {
    cursor: pointer;
    font-size: 90px;
    height: 100%;
    height: 113px;
    right: 0;
    line-height:176px;
    opacity: 0;
    position: absolute;
    top: 0;
}