.contribute-view {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.contribute-view .arrow {
    background: url(/app/img/contribute-arrows.png);
    cursor: pointer;
    height: 43px;
    left: 43px;
    margin: -21px 0 0;
    position: absolute;
    top: 50%;
    width: 46px;
    z-index: 4;
}

.contribute-view .arrow.next {
    background-position: 0 -43px;
    left: auto;
    right: 43px;
}

.contribute-bg {
    max-width: none;
    opacity: 0.35;
    position: absolute;
    z-index: 1;
}

.contribute-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
    z-index: 2;
}

.contribute-nav li {
    border-right: 1px solid #e1e1e0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 700 14px brandon_grotesque, sans-serif;
    height: 15px;
    letter-spacing: 0.1em;
    line-height: 15px;
    padding: 0 11px 0 7px;
    text-transform: uppercase;
}

.contribute-nav li:last-child {
    border: none;
}

.contribute-nav li.active {
    color: #ed007b;
}

.contribute-section {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.contribute-section .content {
    bottom: 85px;
    left: 50%;
    margin-left: -337px;
    overflow: auto;
    position: absolute;
    top: 96px;
    width: 675px;
}

.contribute-section .content h1 {
    color: #fff;
    font-size: 90px;
}