#reinvention-intro {
	position: absolute;
	background: #000 url(../img/loader-bg.jpg) no-repeat center center;
	background-size: cover;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 17;
}


#reinvention-intro video {
  position: fixed;
  width: 50%;
  left: 50%;
  opacity: 0;
  top: 50%;
  z-index: 1;
}

#reinvention-intro .loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 410px;
	padding-left: 130px;
	height: 140px;
	margin: -70px 0 0 -260px;
	z-index: 2;
}

#reinvention-intro .loader canvas {
	width: 107px;
	height: 107px;
	position: absolute;
	left: 0;
	top: 0;
}

#reinvention-intro .loader p {
	color: #fff;
	margin-top: 14px;
	font: 500 14px/18px "adelle_basic", serif;
}

#reinvention-intro .loader a.fullscreen-link {
	color: #e620a0;
	font: 900 11.15px/12px brandon_grotesque, sans-serif;
	text-transform: uppercase;
	padding-left: 25px;
	height: 12px;
	margin-top: 18px;
	display: block;
	background:  url(../img/fullscreen-icons.png) no-repeat 0 -12px;
}