.loader-overlay {
	position: absolute;
	background: #000 url(../img/loader-bg.jpg) no-repeat center center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 17;
}

.loader-overlay .loader-content {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 410px;
	padding-left: 130px;
	height: 140px;
	margin: -70px 0 0 -260px;
}

.loader-overlay .loader-content .pie {
	width: 107px;
	height: 107px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/loading-pie.png) no-repeat;
}

.loader-overlay .loader-content p {
	color: #fff;
	margin-top: 14px;
	font: 500 14px/18px "adelle_basic", serif;
}

.loader-overlay .loader-content a.fullscreen-link {
	color: #e620a0;
	font: 900 11.15px/13px brandon_grotesque, sans-serif;
	text-transform: uppercase;
	padding-left: 25px;
	height: 13px;
	margin-top: 18px;
	display: block;
	background:  url(../img/fullscreen-magenta.png) no-repeat;
}