.map-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 18;
}

#mapContainer {
    height: 100%;
}

/* leaflet elements */
#mapContainer .leaflet-top {
    top: 85px; /* override on all elements attached to top so they clear site nav */
}

#mapContainer .leaflet-control-zoom {
    background: rgba(255,255,255, 0.15);
    border: 1px solid #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 25px 0 0 25px;
    padding: 15px;
}

#mapContainer .leaflet-control-zoom a {
    background: url(/app/img/map-zoom-controls.png);
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    height: 20px;
    text-indent: -9999px;
    width: 21px;
}

#mapContainer .leaflet-control-zoom a.leaflet-control-zoom-in {
    margin-bottom: 9px;
}

#mapContainer .leaflet-control-zoom a.leaflet-control-zoom-out {
    background-position: 0 -20px;
}

#mapContainer .leaflet-popup-content {
    color: #464241;
    font: 700 11px/11px adelle_basic, serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 6px 12px 4px;
}

#mapContainer .leaflet-popup-tip-container {
    display: none;
}

#mapContainer .leaflet-popup-content-wrapper {
    border: 1px solid #edf2ef;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* elements outside of leaflet */
.map-overlay {
    position: absolute;
    z-index: 10;
}

.map-key {
    background: url(/app/img/map-key.png);
    height: 259px;
    right: 11px;
    top: 101px;
    width: 190px;
}

.map-share-callout {
    background: url(/app/img/map-share-callout-bg.png);
    height: 69px;
    right: 11px;
    top: 329px;
    width: 113px;
    z-index: 11;
    padding: 20px 22px 0 56px;
}

.map-share-callout:hover {
    text-decoration: none;
}

.map-share-callout h3 {
    color: #fff;
    font: bold 13px adelle_basic, serif;
    margin: 0 0 3px 0;
}

.map-share-callout p {
    color: #fff;
    font: 700 8px brandon_grotesque, sans-serif;
    text-transform: uppercase;
    margin: 0;
}

/* tumblr news view */
.tumblr-news {
    bottom: 25px;
    left: 25px;
    width: 262px;
    position: absolute;
    z-index: 10;
}

.tumblr-news a {
    color: #fff;
    display: block;
    font: bold 18px/20px adelle_basic, serif;
}

.tumblr-news .meta {
    color: #fff;
    font: 700 10px brandon_grotesque, serif;
    text-transform: uppercase;
}