.modal-overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
}

.close-modal {
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 17px;
    right: -22px;
    top: -1px;
    background: url(../img/modal-close.png);
    text-indent: -99999px;
}

/* email/get involved modal */
.email-modal {
    border: 1px solid #dfdfdd;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -174px 0 0 -260px;
    background: #fff;
    width: 520px;
    height: 294px;
}

.email-modal-content {
    width: 505px;
    height: 279px;
    margin: 6px auto 0;
    position: relative;
    box-shadow: 0 0 6px #e5e2e0 inset;
}

.email-modal-content h1 {
    height: 48px;
    color: #6d6a63;
    border-bottom: 1px solid #f6f3ed;
    padding: 12px 22px 0;
    margin: 0;
    position: relative;
    font: bold 20px adelle_basic, serif;
    text-transform: uppercase;
}

.email-modal-content h1 .subhead {
    display: block;
    font: 500 14px brandon_grotesque, sans-serif;
    text-transform: none;
}

.email-modal-content h1 .stamp {
    position: absolute;
    right: -4px;
    top: -9px;
    width: 198px;
    height: 80px;
    background: url(../img/stamp.png);
    z-index: 1;
}

.email-modal-content .content-left {
    float: left;
    width: 205px;
    height: 215px;
    border-right: 1px solid #eee8dc;
    border-top: 1px solid #eee8dc;
}

.email-modal-content .content-left p {
    font: normal 12px/15.49px adelle_basic, serif;
    padding: 20px 20px 0;
}

.email-modal-content .content-left p strong {
    font-weight: normal;
    color: #ef0f7e;
}

.email-modal-content .content-right {
    float: right;
    width: 298px;
    height: 215px;
    border-top: 1px solid #eee8dc;
    border-left: 1px solid #f6f3ed;
    position: relative;
}

.email-modal-content .content-right .content-right-inner {
    margin: 20px auto 0;
    width: 240px;
}

.email-modal-content .content-right p {
    font: 500 12px/13.38px brandon_grotesque, sans-serif;
}

.email-modal-content .content-right .fields {
    overflow: hidden;
}

.email-modal-content .content-right input[type=text] {
    border: none;
    box-shadow: 1px 0 2px 1px #c2c2c2 inset;
    border-radius: 0;
    color: #ed177e;
    float: left;
    font: normal 13.38px adelle_basic, serif;
    margin: 0;
    width: 172px;
    height: 12px;
    padding: 8px 9px;
}

/* these declarations need to be seperated like this or they do not work */
/* for webkit browsers */
.email-modal-content .content-right input[type=text]::-webkit-input-placeholder {
    color: #6d6a63;
}

/* for firefox > 18 */
.email-modal-content .content-right input[type=text]:-moz-placeholder {
    color: #6d6a63;
}

/* for firefox < 18 */
.email-modal-content .content-right input[type=text]::-moz-placeholder {
    color: #6d6a63;
}

/* for IE */
.email-modal-content .content-right input[type=text]:-ms-placeholder {
    color: #6d6a63;
}

.email-modal-content .content-right button {
    border: none;
    float: left;
    width: 48px;
    height: 28px;
    padding: 9px 0;
    color: #fff;
    font: 700 9px brandon_grotesque, sans-serif;
    text-transform: uppercase;
    background: #ed137b; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ed137b 0%, #ed137b 49%, #db0e72 51%, #db0e72 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ed137b), color-stop(49%,#ed137b), color-stop(51%,#db0e72), color-stop(100%,#db0e72)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ed137b 0%,#ed137b 49%,#db0e72 51%,#db0e72 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ed137b 0%,#ed137b 49%,#db0e72 51%,#db0e72 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ed137b 0%,#ed137b 49%,#db0e72 51%,#db0e72 100%); /* IE10+ */
    background: linear-gradient(135deg,  #ed137b 0%,#ed137b 49%,#db0e72 51%,#db0e72 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed137b', endColorstr='#db0e72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.email-modal-content .content-right .follow-links {
    margin: 13px 0 0;
    overflow: hidden;
}

.email-modal-content .content-right .follow-links a {
    float: left;
    padding-left: 24px;
    height: 16px;
    color: #ed177e;
    font: normal 11px/18px adelle_basic, serif;
}

.email-modal-content .content-right .follow-links a.follow-fb {
    background: url(../img/facebook-icon.png) no-repeat;
}

.email-modal-content .content-right .follow-links a.follow-twitter {
    background: url(../img/twitter-icon.png) no-repeat;
    float: right;
}

.email-modal-content .content-right .release-dates {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61px;
    border-top: 1px solid #eee8dc;
    box-shadow: 0 -1px 1px #f6f3ed;
}

.email-modal-content .content-right .release-dates h2 {
    background: #fff;
    color: #ed177e;
    font: 700 10px brandon_grotesque, sans-serif;
    height: 12px;
    left: 93px;
    margin: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -6px;
    width: 105px;
}

.email-modal-content .content-right .release-dates ul {
    margin: 0;
    list-style-type: none;
}

.email-modal-content .content-right .release-dates li {
    color: #6d6a63;
    float: left;
    font: 500 12px brandon_grotesque, sans-serif; 
    height: 47px;
    width: 86px;
    border-left: 1px solid #f6f3ed;
    border-right: 1px solid #eee8dc;
    text-transform: uppercase;
    padding: 15px 0 0 12px; 
}

.email-modal-content .content-right .release-dates li strong {
    font: bold 13px adelle_basic, serif;
}

.email-modal-content .content-right .release-dates li:first-child {
    border-left: none;
}

.email-modal-content .content-right .release-dates li:last-child {
    border-right: none;
}

/* share modal */
.share-modal {
    border: 1px solid #dfdfdd;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -91px 0 0 -260px;
    background: #fff;
    width: 520px;
    height: 182px;
}

.share-modal-content {
    width: 505px;
    height: 169px;
    margin: 6px auto 0;
    position: relative;
    box-shadow: 0 0 6px #e5e2e0 inset;
}

.share-modal-content h1 {
    color: #6d6a63;
    border-bottom: 1px solid #f6f3ed;
    padding: 8px 0 6px;
    text-align: center;
    margin: 0;
    font: bold 20px adelle_basic, serif;
    text-transform: uppercase;
}

.share-modal-content ul.share-links {
    list-style-type: none;
    margin: 7px 0;
    overflow: hidden;
}

.share-modal-content ul.share-links li {
    float: left;
    width: 167px;
    height: 114px;
    text-align: center;
    vertical-align: middle;
    line-height: 114px;
    border-right: 1px solid #eee8da;
    border-left: 1px solid #f6f3ec;
}

.share-modal-content ul.share-links li:first-child {
    border-left: none;
}

.share-modal-content ul.share-links li:last-child {
    border-right: none;
}

.share-modal-content ul.share-links li a {
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    background: url(../img/share-icons.png);
    text-indent: -9999px;
}

.share-modal-content ul.share-links li a.twitter {
    background-position: 0 0;
}

.share-modal-content ul.share-links li a.facebook {
    background-position: 0 -48px;
    margin-top: -4px;
}

.share-modal-content ul.share-links li a.email {
    background-position: 0 -97px;
}