.modal-overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
}

.close-modal {
    position: absolute;
    width: 17px;
    height: 17px;
    right: -22px;
    top: -1px;
    background: url(../img/modal-close.png);
    text-indent: -99999px;
}

.email-modal {
    border: 1px solid #dfdfdd;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -174px 0 0 -260px;
    background: #fff;
    width: 520px;
    height: 294px;
}

.email-modal-content {
    width: 505px;
    height: 279px;
    margin: 6px auto 0;
    position: relative;
    box-shadow: 0 0 6px #e5e2e0 inset;
}

.email-modal-content h1 {
    height: 48px;
    color: #6d6a63;
    border-bottom: 1px solid #f6f3ed;
    padding: 12px 22px 0;
    margin: 0;
    position: relative;
    font: bold 20px adelle_basic, serif;
    text-transform: uppercase;
}

.email-modal-content h1 .subhead {
    display: block;
    font: 500 14px brandon_grotesque, sans-serif;
    text-transform: none;
}

.email-modal-content h1 .stamp {
    position: absolute;
    right: -4px;
    top: -9px;
    width: 198px;
    height: 80px;
    background: url(../img/stamp.png);
}

.email-modal-content .content-left {
    float: left;
    width: 205px;
    height: 215px;
    border-right: 1px solid #eee8dc;
    border-top: 1px solid #eee8dc;
}

.email-modal-content .content-left p {
    font: normal 12px/15.49px adelle_basic, serif;
    padding: 20px 20px 0;
}

.email-modal-content .content-left p strong {
    font-weight: normal;
    color: #ef0f7e;
}

.email-modal-content .content-right {
    float: right;
    width: 298px;
    height: 215px;
    border-top: 1px solid #eee8dc;
    border-left: 1px solid #f6f3ed;
    position: relative;
}

.email-modal-content .content-right .content-right-inner {
    margin: 20px auto 0;
    width: 240px;
}

.email-modal-content .content-right p {
    font: 500 12px/13.38px brandon_grotesque, sans-serif;
}

.email-modal-content .content-right input[type=text] {
    border: none;
    box-shadow: 1px 0 2px 1px #c2c2c2 inset;
    border-radius: 0;
    color: #fff;
    float: left;
    margin: 0;
    width: 172px;
    height: 16px;
    padding: 6px 9px;
}

.email-modal-content .content-right button {
    background: #ee127b;
    border: none;
    float: left;
    width: 48px;
    height: 28px;
    color: #fff;
    font: 700 9px brandon_grotesque, sans-serif;
    text-transform: uppercase;
}

.email-modal-content .content-right .release-dates {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 61px;
    border-top: 1px solid #eee8dc;
    box-shadow: 0 -1px 1px #f6f3ed;
}

.email-modal-content .content-right .release-dates h2 {
    background: #fff;
    color: #ed177e;
    font: 700 10px brandon_grotesque, sans-serif;
    height: 12px;
    left: 93px;
    margin: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -6px;
    width: 105px;
}

.email-modal-content .content-right .release-dates ul {
    margin: 0;
    list-style-type: none;
}

.email-modal-content .content-right .release-dates li {
    color: #6d6a63;
    float: left;
    font: 500 12px brandon_grotesque, sans-serif; 
    height: 47px;
    width: 86px;
    border-left: 1px solid #f6f3ed;
    border-right: 1px solid #eee8dc;
    text-transform: uppercase;
    padding: 15px 0 0 12px; 
}

.email-modal-content .content-right .release-dates li strong {
    font: bold 13px adelle_basic, serif;
}

.email-modal-content .content-right .release-dates li:first-child {
    border-left: none;
}

.email-modal-content .content-right .release-dates li:last-child {
    border-right: none;
}