.story-player {
  background: rgba(0,0,0,0.65);
  width:100%;
  height:100%;
  position: absolute;
  z-index: 19;
  top: 0;
  left: 0;
}

.story-player .player-container {
  box-shadow: 0 0 24px rgba(0,0,0,0.75);
  width: 745px;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -280px 0 0 -372px;
  z-index: 300;
}
  
#story-zeega-player{
  position: relative;
  height: 100%;
  width: 100%;
}

#story-zeega-player .fullscreen {
  background: url(/app/img/fullscreen-icon.png);
  bottom: 10px;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 21px;
  text-indent: -9999px;
  width: 20px;
  z-index: 100000;
}

#story-zeega-player .share {
  background: #000;
  bottom: 10px;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 51px;
  z-index: 100000;
}

#story-zeega-player .share .icons {
  display: none;
}

#story-zeega-player h3 {
  color: #fff;
  display: inline;
  margin: 0 5px;
  line-height: 20px;
  font-size: 12px;
}

#story-zeega-player .ZEEGA-player {
  font-size: 11px;
}

.story-player .player-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  background: url(/app/img/close-story-overlay.png);
  text-indent: -9999px;
  margin: 0;
  z-index: 10;
}

.story-player .arrow {
    background: url(/app/img/story-overlay-arrows.png);
    top: 215px;
    cursor: pointer;
    height: 31px;
    left: 21px;
    position: absolute;
    width: 28px;
    z-index: 4;
}

.story-player .arrow.next {
    background-position: -28px 0;
    right: -14px;
    left: auto;
}

.story-player .arrow.disabled {
    display: none;
}

.story-player .back-to-map {
    color: #fff;
    font: 900 12px brandon_grotesque, sans-serif;
    position: absolute;
    right: 21px;
    bottom: 59px;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.story-player .next-story {
    color: #fff;
    display: none;
    font: 900 12px brandon_grotesque, sans-serif;
    position: absolute;
    right: 21px;
    bottom: 39px;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 0.075em;    
}

.story-player .timeline-bed {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
}

.story-player .timeline-bed .timeline-indicator {
  height: 3px;
  width: 0%;
  background: #d24b24;
}