body {
  background-color: #000;
}

.act {
  position: absolute;
}

#reinvention-viewport {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* necessary for Zeega player to fill viewport */
#reinvention-viewport > div {
  height: 100%;
}

#reinvention-reststop {
  width: 100%;
  z-index: 994;
}

#reinvention-story {
  height: 100%;
}

#reinvention-story-controls {
  bottom: 0;
  height: 24px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 20;
}

#reinvention-story-controls .timeline-bed {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 0;
}

#reinvention-story-controls .timeline-bed .timeline-indicator {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0%;
  background: #f21682;
}

#reinvention-story-controls .controls-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 22px;
  top: 2px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0 10px;
}

#reinvention-story-controls .controls-bar .control {
  height: 12px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../img/controls-icons.png);
  text-indent: -9999px;
  margin: 6px 0 0;
}

#reinvention-story-controls .controls-bar .control.pause {
  background-position: 0 -12px;
}

#reinvention-story-controls .controls-bar .control.play {
  background-position: 0 0;
}

#reinvention-story-controls .controls-bar .control.prev {
  background-position: 0 -36px;
  margin-left: 6px;
}

#reinvention-story-controls .controls-bar .control.next {
  background-position: 0 -24px;
  margin-left: 2px;
}

#reinvention-reststop video,
#reinvention-road video,
#reinvention-intro video  {
  width: 100%;
}

#reinvention-intro video {
  position: fixed;
  width: 50%;
  left: 50%;
  top: 50%;
}

#reinvention-reststop-background {
  width: 100%;
  margin: 0 auto;
  z-index: 995;
}

#reinvention-road {
  width: 100%;
  margin: 0 auto;
  z-index: 994;
}

#reinvention-road img:not(.arrow) {
  width: 300px;
  /*height: 250px;*/
  position: absolute;
  top: 100px;
  /*z-index: 995;*/
  cursor: pointer;
  opacity: 0;
}

.arrow {
  position: fixed;
  margin: 0 auto;
  opacity: 1;
  top: 60%;
  left: 50%;
  margin-left: -35px;
}

.arrow-instruction {
  position: fixed;
  margin: 0 auto;
  opacity: 1;
  top: 70%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  color: #fff;
  font: 25px hand_of_sean, sans-serif;
}

#reinvention-road video:not([role=primary]) {
  z-index: 996;
  margin: auto auto;
  position: fixed;
  left: 50%;
  top: 50%;
/*  width: 720px;
  height: 405px;
*/}

.hidden {
  visibility: hidden;
}

.displaynone {
  display: none !important;
}

.image {
  position: absolute;
}


.left {
  left: 5%;
}

.right {
  right: 5%;
}

#caption {
  z-index: 997;
  margin: auto auto;
  position: absolute;
  width: 720px;
  left: 50%;
  top: 50%;
}

#caption .progress-outer {
  width: 100%;
  height: 2px;
  margin-top: 1px;
}

#caption .progress-inner {
  width: 0px;
  height: 2px;
  background-color: #9e2656;
}

#caption .text {
  color: #fff;
  float: left;
  font: 700 12px brandon_grotesque, sans-serif;
  text-transform: uppercase;
  width: 85%;
  margin-top: 6px;
}

#caption .time {
  color: #fff;
  font: 700 10.4px brandon_grotesque, sans-serif;
  width: 15%;
  float: right;
  text-align: right;
  margin-top: 6px;
}

[class^="icon-"] {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings.png");
}

.icon-white {
  background-image: url("/vendor/bootstrap/img/glyphicons-halflings-white.png");
}
