.reststop-point {
    cursor: pointer;
    z-index: 995;
    position: absolute;
    width: 20px;
    height: 29px;
    background: url(../img/plus-circle.png) no-repeat 0 9px;
    z-index: 10;

    -webkit-animation: pulse 5s infinite ease-in-out; /* Safari 5, Chrome */
       -moz-animation: pulse 5s infinite ease-in-out; /* Firefox 5-15 */
         -o-animation: pulse 5s infinite ease-in-out; /* Opera 12+ */
            animation: pulse 5s infinite ease-in-out; /* Safari 5, Chrome, Firefox 16+ */
}

.reststop-question {
    position: absolute;
    top: 39%;
    right: 7%;
    width: 374px;
    margin-top: -82px;
    background: rgba(255,255,255,0.65);
    z-index: 20;
}

.reststop-question .question-top {
    background: #fff;
    color: #ee127b;
    margin: 0;
    padding: 13px 60px 11px 30px;
    position: relative;
}

.reststop-question .question-top h1 {
    font: bold 22.3px/26.77px adelle_basic, serif;
    margin: 0;
}

.reststop-question .question-top .shuffle-button {
    background: none;
    border: none;
    bottom: 18px;
    color: #ff3399;
    cursor: pointer;
    font: 700 8px/11px brandon_grotesque, sans-serif;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    width: 55px;
}

.reststop-question .fields {
    padding: 10px 23px 13px;
}

.reststop-question .fields form {
    margin: 0;
}

.reststop-question .fields textarea {
    color: #7c7c7c;
    font: normal 14px/17px adelle_basic, serif;
    width: 96%;
    padding: 2%;
    border: none;
    box-shadow: 0 0 1% #ededed inset;
    border-radius: 0;
    min-height: 45px;
}

.reststop-question .fields input[type=text] {
    display: inline-block;
    font: normal 14px/17px adelle_basic, serif;
    width: 24%;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 4px #ededed inset;
    margin: 0 1% 0 0;
    height: 15px;
    padding: 7px 8px 5px;
    color: #7c7c7c;
}

.reststop-question .fields [type=submit] {
    display: inline-block;
    height: 27px;
    border: none;
    background: #8c737f;
    font: 700 9px brandon_grotesque, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    margin: 0 1% 0 0;
    padding: 9px 0;
    width: 17.8%;
}

.reststop-question .fields [type=submit] {
    margin: 0;
}

.reststop-answer {
    position: absolute;
    left: 7%;
    top: 15%;
    width: 30px;
    height: 30px;
    text-shadow: 4px 0 10px rgba(0,0,0,0.55);
    background: url(../img/plus-circle.png) no-repeat 0 9px;
    z-index: 10;
}

.reststop-answer .answer-content {
    position: absolute;
    width: 282px;
    left: 30px;
    top: 0;
}

.reststop-answer.text-left .answer-content {
    left: auto;
    right: 40px;
    text-align: right;
}

.reststop-answer p {
    color: #fff;
    font: 20px/25px hand_of_sean, sans-serif;
}

.reststop-answer .meta {
    color: #fff;
    font: 700 9.68px/15.2px brandon_grotesque, sans-serif;
    text-transform: uppercase;
}

.reststop-answer .meta .name {
    border-right: 1px solid #fff;
    padding-right: 7px;
    margin-right: 5px;
}

.reststop-answer .meta .date-time {
    display: block;
}

.reststop-nextoptions {
    bottom: 5%;
    position: absolute;
    right: 5%;
    width: 350px;
}

.reststop-nextoptions .next-act {
    background: rgba(28, 41, 37, 0.8);
    color: #fff;
    float: left;
    font: normal 18.4px/22px adelle_basic, serif;
    height: 53px;
    padding: 13px 0 0 25px;
    width: 230px;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -ms-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.reststop-nextoptions .next-act:hover {
    background: rgba(63, 95, 85, 0.8);
    text-decoration: none;
}

.reststop-nextoptions .view-map {
    background: url(../img/map-thumb.png);
    border: 3px solid #fff;
    color: #fff;
    float: left;
    font: 700 11.19px/60px brandon_grotesque, sans-serif;
    height: 60px;
    text-align: center;
    text-shadow: 0 0 8px #000;
    text-transform: uppercase;
    width: 87px;
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
    -ms-transition-property: border-color;
    -o-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.reststop-nextoptions .view-map:hover {
    border-color: #ee127b;
    text-decoration: none;
}


@-webkit-keyframes pulse {
    0%   { opacity: 0.15; }
    50%  { opacity: 0.85; }
    100% { opacity: 0.15; }
}
@-moz-keyframes pulse {
    0%   { opacity: 0.15; }
    50%  { opacity: 0.85; }
    100% { opacity: 0.15; }
}
@-o-keyframes pulse {
    0%   { opacity: 0.15; }
    50%  { opacity: 0.85; }
    100% { opacity: 0.15; }
}
@keyframes pulse {
    0%   { opacity: 0.15; }
    50%  { opacity: 0.85; }
    100% { opacity: 0.15; }
}
