<div id="reinvention-story">

</div>

<div id="reinvention-story-controls">
	<div class="timeline-bed">
		<div class="timeline-indicator"></div>
	</div>
	<div class="controls-bar">
		<a class="control pause" href="#" data-controls="pause">&gt;</a>
		<a class="control prev" href="#" data-controls="prev">&lt;&lt;</a>
		<a class="control next" href="#" data-controls="next">&gt;&gt;</a>
		<!-- begin template for acts and chapters - needs implementation -->
		<ul class="acts-chapters">
			<li class="act-listing active">
				<a class="act-title" href="#">Act One</a>
				<div class="act-info">
			  		<span class="act-time">12:52</span>
			  		<ul class="chapters">
			  			<li class="chapter active"><a href="#">Holly <span class="time">(0:34/2:14)</span></a></li>
			  			<li class="chapter"><a href="#">LaToya <span class="time">0:34/2:14</span></a></li>
			  			<li class="chapter"><a href="#">Jeremy <span class="time">0:34/2:14</span></a></li>
			  			<li class="chapter"><a href="#">Carol <span class="time">0:34/2:14</span></a></li>
			  			<li class="chapter"><a href="#">London <span class="time">0:34/2:14</span></a></li>
			  			<li class="chapter"><a href="#">Teresa <span class="time">0:34/2:14</span></a></li>
			  		</ul>
				</div>
			</li>
		</ul>
		<!-- end template for acts and chapters -->
	</div>
</div>