<ul class="contribute-nav">
    <li class="active">Name &amp; Photos</li>
    <li>Who were you?</li>
    <li>What happened?</li>
    <li>Who are you now?</li>
</ul>

<span class="arrow prev" style="display: none;"></span>
<span class="arrow next"></span>

<img class="contribute-bg" src="/app/img/contribute-bg.jpg">

<div id="sectionName" class="contribute-section active-section">
    <div class="content">
        <span class="line">
            <label for="name">My name is</label>
            <input type="text" id="name">
        </span>
        <span class="line">
            <label for="from">and I'm from</label>
            <input type="text" id="from">
        </span>

        <span class="add-photo" href="#">
            <input id="addPhotoOne" type="file" href="#"></input>
        </span>
        <span class="add-photo" href="#">
            <input id="addPhotoTwo" type="file" href="#"></input>
        </span>
        <span class="add-photo" href="#">
            <input id="addPhotoThree" type="file" href="#"></input>
        </span>
        <p><strong>Upload Photos</strong> Choose some images to tell your story. If you would like to skip uploading your own photos, we’ll match you with images from historic Dayton.</p>
        <input class="standalone" type="text" id="storyname">
        <label class="beneath-standalone" for="storyname">What should we call your story?</label>
    </div>
</div>

<div id="sectionWho" class="contribute-section" style="display: none;">
    <div class="content">
        <label class="block" for="whowereyou">Who were you?</label>
        <textarea id="whowereyou"></textarea>
    </div>
</div>

<div id="sectionWhat" class="contribute-section" style="display: none;">
    <div class="content">
        <label class="block" for="whathappened">What happened?</label>
        <textarea id="whathappened"></textarea>
    </div>
</div>

<div id="sectionNow" class="contribute-section section-now last-section" style="display: none;">
    <div class="content">
        <label class="block" for="whoareyounow">Who are you now?</label>
        <textarea id="whoareyounow"></textarea>
    </div>
</div>

<div class="contribute-thanks" style="display: none;">
    <p>Thank you for sharing your story with us!</p>
    <a href="/#map">Back to the Map</a>
</div>

<div class="loading-overlay" style="display: none;">
    <canvas id="contribute-loading-pie" width="108" height="108"></canvas>
</div>