<div id="reinvention-reststop" data-view="<%=model.get("id")%>">
  <video autoplay loop controls>
    <source src="/app/video/<%=model.get("video")%>.webm"></source>
    <source src="/app/video/<%=model.get("video")%>.ogv"></source>
    <source src="/app/video/<%=model.get("video")%>.mp4"></source>
  </video>


  <div class="reststop-question">
    <h1>In a time of personal struggle, how did you lift yourself up?</h1>
    <div class="fields">
      <form id="reststop-question-form">
      <textarea placeholder="Start typing here or hit 'Shuffle' for a new question to consider."></textarea>
<!--       <input type="text" placeholder="Name" />
      <input type="text" placeholder="Location" />
 -->
      <input type="button" name="shuffle" value="Shuffle">
      <input type="submit" name="submit" value="Submit">
      </form>
    </div>
  </div>

  <% if ( model.get("next") ) { %>
  <div class="reststop-nextoptions">
    <!-- you can have either one, or both, of these links present -->
    <a class="next-act" href="#<%=model.get("next")%>">Seen enough for now?<br/> Head to the next act!</a>
    <a class="view-map" href="#">Or view map</a>
  </div>
  <% } %>
</div>
