<div id="reinvention-menu">
    <span class="carat"></span>
    <div class="menu-content">
        <div class="menu-section">
            <a href="#" class="logo"><img src="/app/img/logo-reinvention.png"></a>
            <ul class="meta-menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Making Of</a></li>
                <li><a href="#">Get Involved</a></li>
            </ul>
        </div>
        <div class="menu-section icons">
            <span class="section-title">Map</span>
            <a href="#" class="image-link map">Map</a>
        </div>

        <div class="acts">
        </div>
    </div>
</div>

<div id="reinvention-viewport">

</div>
