<div id="reinvention-viewport">

</div>

<div class="story-player">
  <div class="player-container">
    <a href="#map" class="player-close">close</a>
    <div id="story-zeega-player">
      <span class="fullscreen">fullscreen</span>
      <div class="share">
        <span class="icons">
          <a class="share-twitter" href="#" target="blank"><i class="zsocial-twitter"></i></a>
          <a class="share-fb" href="#" target="blank"><i class="zsocial-facebook"></i></a>
          <a class="share-tumblr" href="http://www.tumblr.com/share" target="blank"><i class="zsocial-tumblr"></i></a>
          <a class="share-email" href="#"><i class="zsocial-email"></i></a>
        </span>
        <h3>share</h3>
      </div>
    </div>
  </div>
</div>